.ContainerMeniu{
    text-align: center;
    background: bisque;
    box-shadow: 10px 10px 5px 0px rgba(38,19,245,1);
}
.ContainerMeniu .Meniu{
    display: flex;
    position: relative;
}
.ContainerMeniu .Meniu li{
    flex: 1;
    font-size: 50px;
}