html{
    background-color: white;
}

h3{
    background-color: cadetblue;
    border-color: white;
    color:rgb(0, 136, 255)
    text-align: blueviolet;
}
.meniul li{
    float: left;
    padding-left: 10%;
    list-style-type: none;
    display: block;
    background-color: cadetblue;
    border-color: white;
    color:rgb(0, 136, 255)
    text-align: blueviolet;
}